<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>[[#{left.020}]]</title>

</head>
<div layout:fragment="content">

	<div class="row g-0">
		<div class="col-lg-12 pe-lg-2">
			<div class="card mb-3">
				<form id="info-form" class="needs-validation" novalidate>
					<div class="card-header pb-1">
						<div class="row flex-between-end">
							<div class="col-auto col-lg align-self-center">
								<h4 class="mb-0 title-area" data-anchor="data-anchor"
									id="tooltips">[[#{left.020}]]</h4>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row gx-2">
							<div class="col-12 mb-3">
								<label class="form-label"> [[#{txt.columnCalculateYN}]]</label>
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input"
										id="columnCalculateY" name="columnCalculateYN" value="Y"
										checked="checked"> <label
										class="custom-control-label font-weight-bold"
										for="columnCalculateY" id="makeModelYLabel">[[#{txt.columnCalculateY}]]</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input"
										id="columnCalculateN" name="columnCalculateYN" value="N">
									<label class="custom-control-label font-weight-bold"
										for="columnCalculateN" id="makeModelYLabel">[[#{txt.columnCalculateN}]]</label>
								</div>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputDataFileDropdown"
									th:data-bs-original-title="#{txt.inputDataFile.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top">
									[[#{txt.inputDataFile}]]</label> <select
									class="form-select picker directInput"
									id="inputDataFileDropdown" name="inputDataFileDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="A">A</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputDataFile"> &nbsp; </label> <input
									class="form-control" id="inputDataFile" name="inputDataFile"
									type="text" th:placeholder="#{txt.inputDataFile.ph}" required />
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputLayoutFileDropdown"
									th:data-bs-original-title="#{txt.orgin.file.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top">
									[[#{txt.layout.file}]]</label> <select
									class="form-select picker directInput"
									id="inputLayoutFileDropdown" name="inputLayoutFileDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="B">B</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputLayoutFile"> &nbsp;
								</label> <input class="form-control" id="inputLayoutFile"
									name="inputLayoutFile" type="text"
									th:placeholder="#{txt.orgin.file.ph}" required />
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="projectNameDropdown"
									th:data-bs-original-title="#{txt.projectName.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top">
									[[#{txt.projectName}]]</label> <select
									class="form-select picker directInput" id="projectNameDropdown"
									name="projectNameDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="C">C</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="projectName"> &nbsp; </label> <input
									class="form-control" id="projectName" name="projectName"
									type="text" th:placeholder="#{txt.projectName.ph}" required />
							</div>
						</div>


					</div>
					<div class="card-footer bg-light">
						<div class="row flex-between-end">
							<div class="col-auto ms-auto">
								<button class="btn btn-sm btn-primary" type="submit">[[#{button.excute}]]</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var $infoForm = $("#info-form");

		$(function() {
			fn_Event();
		});

		function fn_excute() {
			var data = $infoForm.serializeObject();
			delete data.inputDataFileDropdown;
			delete data.inputLayoutFileDropdown;
			delete data.projectNameDropdown;

			var param = {
				method : "PUT",
				target : "EXCUTE",
				url : "/anomaly/predict",
				data : data,
				dataType : "text"
			}
			ajaxCall(param);
		}
		
		function fn_checkMeta() {
			var data = $infoForm.serializeObject();

			var param = {
				target : "CHECK",
				url : "/anomaly/checkMeta?projectName=" + data.projectName
			}
			ajaxCall(param);
		}

		function fn_Event() {

			$(".directInput").change(function() {
				const value = $(this).val();
				const $target = $(this).parent().next().find("input");

				if (value == "direct") {
					$target.val("");
					$target.prop('readonly', false);
				} else {
					$target.val(value);
					$target.prop('readonly', true);
				}
			});

			$infoForm.on("submit", function(e) {
				e.preventDefault();
				if ($infoForm[0].checkValidity() === true) {
					confirmModal('[[#{web.confirm.excute}]]', function() {
						fn_checkMeta();
					});
				}
			})
		}

		function callback(target, data) {
			switch (target) {
			case "EXCUTE":
				alertModal('[[#{web.success.excute}]]');
				initForm();
				break;
			case "CHECK":
				if(data){
					fn_excute();
				}else{
					alertModal('[[#{txt.not.exist.baseinfo}]]');
				}
				break;
			default:
				break;
			}
		}

		function initForm() {
			$infoForm.removeClass('was-validated');
			formReset($infoForm);
		}
	</script>

</div>
</html>