<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/config :: configFragment"></th:block>
    
</head>	
	<body>
		<main class="main" id="top">
			<div class="container" data-layout="container">
				<script>
		          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
		          if (isFluid) {
		            var container = document.querySelector('[data-layout]');
		            container.classList.remove('container');
		            container.classList.add('container-fluid');
		          }
		          
		          function boxplot_formatter(params) {
		      	    return [
			      	    	'<table>',
			      			'<tbody>',
			      			'<tr>',
			      			'	<td>'+ params.name+'</td>',
			      			'	<th class=" text-end"></t>',
			      			'</tr>',
			      			'<tr>',
			      			'	<td>'+params.marker+'[[#{txt.boxplot.top}]] :</td>',
			      			'	<th class=" text-end">'+params.data[1]+'</t>',
			      			'</tr>',
			      			'<tr> ',
			      			'	<td>'+params.marker+'[[#{txt.boxplot.q3}]] :</td>',
			      			'	<th class=" text-end" >'+params.data[2]+'</th>',
			      			'</tr>',
			      			'<tr>',
			      			'	<td>'+params.marker+'[[#{txt.average}]] :</td>',
			      			'	<th class=" text-end" >'+params.data[3]+'</th>',
			      			'</tr>',
			      			'<tr>',
			      			'	<td>'+params.marker+'[[#{txt.boxplot.q1}]] :</td>',
			      			'	<th class=" text-end">'+params.data[4]+'</th>',
			      			'</tr>',
			      			'<tr>',
			      			'	<td>'+params.marker+'[[#{txt.boxplot.bottom}]] :</td>',
			      			'	<th class=" text-end" >'+params.data[5]+'</th>',
			      			'</tr>',
			      			'</tbody>',
			      			'</table>',
			      	    ].join('');
			      	}		
		        </script>
				<th:block th:replace="fragments/left :: leftFragment"></th:block>			
				<div class="content">
					<th:block th:replace="fragments/header :: headerFragment"></th:block>
					<th:block layout:fragment="content"></th:block>
					<th:block th:replace="fragments/footer :: footerFragment"></th:block>
				</div>				
			</div>    			
			<th:block th:replace="fragments/modal :: modalFragment"></th:block>
		</main>
		<th:block th:replace="fragments/setting :: settingFragment"></th:block>
		
	</body>
</html>