<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>ACCESS DENIED</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body>
	 <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6 text-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5"><a class="d-flex flex-center mb-4" th:href="@{/}"><img class="me-2" src="/assets/img/falcon.png" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">WatchDog</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="fw-black lh-1 text-300 fs-error">403</div>
                <p class="lead mt-4 text-800 font-sans-serif fw-semi-bold">Whoops, something went wrong!</p>
                <hr />
                <p>페이지 접근 권한이 없습니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>