<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>[[#{left.020}]]</title>

</head>
<div layout:fragment="content">
	<div class="card mb-3">
		<div class="bg-holder d-none d-lg-block bg-card"
			style="background-image: url(/assets/img/illustrations/corner-4.png);">
		</div>
		<div class="card-header pb-1"></div>
		<div class="card-body pt-0">
			<div class="row flex-between-center">
				<div class="col-sm-auto mb-2 mb-sm-0">
					<h4 class="mb-0 title-area" data-anchor="data-anchor" id="tooltips">[[#{left.020}]]</h4>
				</div>
				<div class="col-sm-auto"></div>
			</div>
		</div>
	</div>
	
	<div class="row g-0">
		<div class="col-lg-12">
			<div class="card mb-3">
				<form id="info-form" class="needs-validation" novalidate>
				<div class="card-header">
						<div class="row flex-between-end">
							<div class="col-auto col-lg align-self-center">
								<h5 class="mb-0" data-anchor="data-anchor" id="bar-chart">
									<a class="anchorjs-link " aria-label="Anchor"
										data-anchorjs-icon="#" href="#bar-chart"
										style="padding-left: 0.375em;">[[#{txt.dataDetect.title}]]</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="card-body bg-200">
						<div class="row gx-2">
							<div class="col-6 mb-3">
								<label class="form-label" for="inputDataFileDropdown"
									th:data-bs-original-title="#{txt.inputDataFile.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top"> 
									[[#{txt.inputDataFile}]]</label> <select class="form-select picker directInput"
									id="inputDataFileDropdown" name="inputDataFileDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="A">A</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputDataFile">
									&nbsp; </label> <input class="form-control" id="inputDataFile"
									name="inputDataFile" type="text"
									th:placeholder="#{txt.inputDataFile.ph}"
									required />
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputLayoutFileDropdown"
									th:data-bs-original-title="#{txt.orgin.file.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top"> [[#{txt.layout.file}]]</label> <select class="form-select picker directInput"
									id="inputLayoutFileDropdown"
									name="inputLayoutFileDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="B">B</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputLayoutFile">
									&nbsp; </label> <input class="form-control" id="inputLayoutFile"
									name="inputLayoutFile" type="text"
									th:placeholder="#{txt.orgin.file.ph}"
									required />
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="projectNameDropdown"
									th:data-bs-original-title="#{txt.projectName.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top"> [[#{txt.projectName}]]</label> <select class="form-select picker directInput"
									id="projectNameDropdown" name="projectNameDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="C">C</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="projectName"> &nbsp;
								</label> <input class="form-control" id="projectName"
									name="projectName" type="text"
									th:placeholder="#{txt.projectName.ph}"
									required />
							</div>
						</div>


					</div>
					<div class="card-footer bg-200">
						<div class="row flex-between-end">
							<div class="col-auto ms-auto">
								<button class="btn btn-sm btn-primary" type="submit">[[#{button.add}]]</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="card mb-3 bg-200" >
				<div class="card-body">
					<div class="table">
						<table class="table table-light table-bordered">
							<thead>
								<tr>
									<th scope="col" class="text-center">[[#{txt.inputDataFile}]]</th>
									<th scope="col" class="text-center">[[#{txt.layout.file}]]</th>
									<th scope="col" class="text-center">[[#{txt.project}]]</th>
									<th scope="col" class="text-center">[[#{txt.delete}]]</th>
								</tr>
							</thead>
							<tbody id="reqTable">
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer bg-200">
						<div class="row flex-between-end">
							<div class="col-auto ms-auto">
								<button class="btn btn-sm btn-primary" type="button" id="excuteBtn">[[#{button.excute}]]</button>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var $infoForm = $("#info-form");
		var $table = $("#reqTable");
		var $inputDataFilePathDropdown = $("#inputDataFileDropdown");
		var $inputLayoutFilePathDropdown = $("#inputLayoutFileDropdown");
		var $projectNameDropdown = $("#projectNameDropdown");
		
		const columnCalculateEnum = {
				"Y" : "[[#{txt.columnCalculateY}]]",
				"N" : "[[#{txt.columnCalculateN}]]"
		};
		$(function() {
			fn_Event();
		});
		
		function fn_fileList(dirname, pattern, target) {
			const formData = {
				"dirname" : dirname,
				"pattern" : pattern
			}
			var param = {
				target : target,
				url : "/anomaly/getfiles?dirname="
						+ encodeURIComponent(formData.dirname) + "&pattern="
						+ encodeURIComponent(formData.pattern),
				isLoading : false
			}
			ajaxCall(param);
		}
		
		function fn_excute(reqList) {
			var param = {
				method : "PUT",
				target : "EXCUTE",
				url : "/anomaly/predictmulti",
				data : reqList
			}
			console.log(param);
			ajaxCall(param);
		}
		
		function fn_addTable() {
			var data = $infoForm.serializeObject();
			var html = "";
			
			html += '<tr class="table-light text-center">';
			html += '<td class="inputDataFile" >'+data.inputDataFile+'</td>';
			html += '<td class="inputLayoutFile">'+data.inputLayoutFile+'</td>';
			html += '<td class="projectName">'+data.projectName+'</td>';
			//html += '<td class="columnCalculateYN" data-yn="'+data.columnCalculateYN+'">'+columnCalculateEnum[data.columnCalculateYN]+'</td>';
			html += '<td>';
			html += '<button class="btn p-0 ms-1 table-delete-btn" type="button" title="Delete"><span class="text-500 fas fa-trash-alt"></span></button>';
			html += '</td></tr>';
			
			$table.append(html);
			
			$table.find(".table-delete-btn").off().click(function(){
				$(this).closest('tr').remove();
			});
			
			initForm();
		}

		function fn_Event() {
			fn_fileList("data", ".*", "DATA_FILE");
			fn_fileList("properties", ".*.properties", "LAYOUT_FILE");
			fn_fileList("model", ".*.adnn", "PROJECT_FILE");
			
			$("#excuteBtn").off().click(function(){
				const trs = $table.find('tr');
				const reqList = [];

				if(trs.length > 0){
					confirmModal('[[#{web.confirm.excute}]]', function() {
						$.each(trs, function(idx, data){
							var item = {
									"inputDataFile" : $(this).find('td.inputDataFile').html(), 
									"inputLayoutFile" : $(this).find('td.inputLayoutFile').html(), 
									"projectName" : $(this).find('td.projectName').html(), 
									"columnCalculateYN" : $(this).find('td.columnCalculateYN').data("yn") 
							}
							reqList.push(item);
						})
						
						fn_excute(reqList);
					});	
				}else{
					alertModal('[[#{txt.not.exist}]]');
				}
			});

			$infoForm.on("submit", function(e) {
				e.preventDefault();
				if ($infoForm[0].checkValidity() === true) {
					fn_addTable();
				}
			})
		}

		function callback(target, data) {
			switch (target) {
			case "EXCUTE":
				alertModal('[[#{web.success.excute}]]');
				initForm();
				$table.find('tr').remove();
				break;
			case "LAYOUT_FILE":
				$inputLayoutFilePathDropdown.find("option").remove();

				var listName = data;
				var html = "<option value='direct'>직접입력</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$inputLayoutFilePathDropdown.append(html);
				setDropDownEvent();
				break;
			case "DATA_FILE":
				$inputDataFilePathDropdown.find("option").remove();

				var listName = data;
				var html = "<option value='direct'>직접입력</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$inputDataFilePathDropdown.append(html);
				setDropDownEvent();
				break;
			case "PROJECT_FILE":
				$projectNameDropdown.find("option").remove();

				var listName = data;
				var html = "<option value='direct'>직접입력</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$projectNameDropdown.append(html);
				setDropDownEvent();
				break;
			default:
				break;
			}
		}
		
		function setDropDownEvent(){
			$(".directInput").off().change(function(){
				const value = $(this).val();
				const $target = $(this).parent().next().find("input");
				if(value == "direct"){
					$target.val("");
					$target.prop('readonly', false);
				}else{
					$target.val(value);	
					$target.prop('readonly', true);
				}
			});
		}
		
		function initForm() {
			$infoForm.removeClass('was-validated');
			$infoForm.find('input[readonly]').prop("readonly", false)
			formReset($infoForm);
		}
	</script>

</div>
</html>