<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>[[#{txt.title.login}]]</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body>
	<main class="main" id="top" style="display:none;">
		<div class="container-fluid">
			<script>
			</script>
			<div class="row min-vh-100 bg-100">
				<div class="col-6 d-none d-lg-block position-relative">
					<div class="bg-holder"
						style="background-image: url(assets/img/nice/login_bg.png); background-position: 50% 46%;">
					</div>
				</div>
				<div
					class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
					<div class="row justify-content-center g-0">
						<div class="col-lg-9 col-xl-8 col-xxl-6">
							<div class="card">
								<div
									class="card-header bg-circle-shape bg-shape text-center p-2">
									<a
										class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light"
										>
										<img alt="" src="assets/img/nice/logo_watchdog_login.png" style=" width: 37%;">
										
										</a>
								</div>
								<div class="card-body p-4 ">
									<form class="needs-validation" novalidate method="POST" id="loginForm"
										th:action="@{/loginProcess}">
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" /> 

										<div class="mb-3">
											<label class="form-label" for="split-login-email">[[#{txt.id}]]</label>
											<input class="form-control" id="split-login-email"
												type="text" name="memberId" value="admin" required />
										</div>
										<div class="mb-3">
											<div class="d-flex justify-content-between">
												<label class="form-label" for="split-login-password">[[#{txt.password}]]</label>
											</div>
											<input class="form-control" id="split-login-password"
												type="password" name="password" value="1234" required />
										</div>
										<div class="form-check mb-0">
											<input class="form-check-input" type="checkbox"
												id="split-checkbox" name="remember-me" checked /> <label
												class="form-check-label" for="split-checkbox">[[#{txt.auto.login}]]</label>
										</div>
										<div class="mb-3">
											<button class="btn login-btn btn-primary d-block w-100 mt-3 "
												type="submit" name="submit" id="submitBtn">[[#{button.login}]]</button>
										</div>
										<div style="text-align: center;">
											<div class="alert-danger login-alert-danger text-center align-middle"
												role="alert" th:if="${error}">
												<span class="fas fa-exclamation-circle"
													style="margin-right: 8px;"></span>[[${error}]]
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<th:block th:replace="fragments/setting :: settingFragment"></th:block>
</body>
<script>
$(function() {
	$("#submitBtn").click();
});
</script>
</html>