<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>[[#{left.004}]]</title>
</head>
<div layout:fragment="content">
	<div class="row g-0">
		<div class="col-lg-12 pe-lg-2">
			<div class="card mb-3">
				<div class="bg-holder d-none d-lg-block bg-card"
					style="background-image: url(/assets/img/illustrations/corner-4.png);">
				</div>
				<div class="card-header pb-1"></div>
				<div class="card-body pt-0">
					<div class="row flex-between-center">
						<div class="col-sm-auto mb-2 mb-sm-0">
							<h4 class="mb-0 title-area" data-anchor="data-anchor"
								id="tooltips">[[#{left.004}]]</h4>
						</div>
					</div>
				</div>
			</div>


			<div class="card mb-3">
				<div class="card-header pb-2">
					<div class="row flex-between-end">
						<div class="row gx-0 align-items-center">
							<div class="col-auto d-flex justify-content-end order-md-1">
								<button
									class="btn icon-item icon-item-sm shadow-none p-0 me-1 ms-md-2"
									type="button" data-event="prev" data-bs-toggle="tooltip"
									title="" data-bs-original-title="Previous"
									aria-label="Previous">
									<span class="fas fa-arrow-left"></span>
								</button>
								<button
									class="btn icon-item icon-item-sm shadow-none p-0 me-1 me-lg-2"
									type="button" data-event="next" data-bs-toggle="tooltip"
									title="" data-bs-original-title="Next" aria-label="Next">
									<span class="fas fa-arrow-right"></span>
								</button>
							</div>
							<div class="col-auto col-md-auto order-md-2 mb-1">
								<h4 class="mb-0 fs-0 fs-sm-1 fs-lg-2 calendar-title"></h4>
							</div>
							<div class="col-md-auto d-md-none">
								<hr>
							</div>
							<div class="col-auto d-flex order-md-0"></div>
							<div
								class="col col-md-auto d-flex justify-content-end order-md-3 mb-2 calendar-today-btn">
								<button class="btn btn-falcon-primary btn-sm calendar-btn"
									type="button" data-event="today">Today</button>
							</div>
							<div class="col d-flex justify-content-end order-md-2 mb-2">
								<div class="dropdown font-sans-serif ">
									<button
										class="btn btn-falcon-default text-600 btn-sm dropdown-toggle dropdown-caret-none calendar-btn"
										type="button" id="email-filter" data-bs-toggle="dropdown"
										data-boundary="viewport" aria-haspopup="true"
										aria-expanded="false">
										<span data-view-title="data-view-title">Month View</span> <span
											class="fas fa-sort ms-2 fs--1"></span>
									</button>
									<div class="dropdown-menu dropdown-menu-end border py-2"
										aria-labelledby="email-filter">
										<a class="active dropdown-item d-flex justify-content-between"
											href="#!" data-fc-view="dayGridMonth">Month View </a> <a
											class="dropdown-item d-flex justify-content-between"
											href="#!" data-fc-view="timeGridWeek">Week View </a> <a
											class="dropdown-item d-flex justify-content-between"
											href="#!" data-fc-view="timeGridDay">Day View </a> <a
											class="dropdown-item d-flex justify-content-between"
											href="#!" data-fc-view="listWeek">List View</a> <a
											class="dropdown-item d-flex justify-content-between"
											href="#!" data-fc-view="listYear">Year View </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body pt-0">
					<div class="row gx-2">
						<div class="card-body p-0">
							<div id="calendarDiv"
								class="fc fc-media-screen fc-direction-ltr fc-theme-standard"
								style="height: 800px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">[[#{txt.projectName}]]</th>
									<th scope="col">[[#{txt.excute.startday}]]</th>
									<th scope="col">[[#{txt.file.name}]]</th>
									<th scope="col">[[#{txt.data.count}]]</th>
									<th scope="col">[[#{txt.psi}]]</th>
									<th scope="col">[[#{txt.car}]]</th>
									<th scope="col">[[#{txt.chisqCnt}]]</th>
								</tr>
							</thead>
							<tbody id="detailTable">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		var $calendar = $("#calendarDiv");
		var $table = $("#detailTable");
		var calendar;
		var currentYear;
		let formatData = [];
		const PSI_BASE = 10;
		
		$(function() {
			fn_Event();
		});

		function fn_Event() {
			fn_getResults();
		}

		function fn_getResults() {
			var param = {
				target : "RESULT_LIST",
				url : "/result/results",
				isLoading : false
			}
			ajaxCall(param);
		}
	
		function fn_showTable(dataList) {
			$table.find('tr').remove();
			var html = "";
			
			$.each(dataList, function(idx, data){
				var titleClass = "bg-soft-primary";
				if(data.psi > PSI_BASE) titleClass = "bg-soft-danger";
				if(!data.chisqCnt) data.chisqCnt = 0;
				
				html += '<tr>';
				html += '<td class="'+titleClass+'"><div class="fc-event-main">'+data.title+'</div></td>';
				html += '<td>'+data.start+'</td>';
				html += '<td>'+data.inputFilename+'</td>';
				html += '<td class="text-end">'+data.inputDatacnt+'</td>';
				html += '<td class="text-end">'+data.psi+'</td>';
				html += '<td class="text-end">'+data.car+'</td>';
				html += '<td class="text-end">'+data.chisqCnt+'</td>';
				html += '</tr>';	
			})
			
			$table.append(html);
			document.body.scrollIntoView(false);
		}
		
		function moveHistory(projectName) {
			movePageWithParam({
				projectName : projectName
			}, '/result/dashboard');
		}
		
		function callback(target, data) {

			switch (target) {
			case "RESULT_LIST":

				formatData = [];
				$.each(data, function(idx, item) {
					const pushItem = {
						className : "bg-soft-primary",
						start : item.regDtim.substring(0, 10),
						regDtim : item.regDtim.substring(0, 10),
						title : item.projectName,
						//end : item.endDtim?item.endDtim:null,
						car : item.car,
						inputDatacnt : item.inputDatacnt,
						inputFilename : item.inputFilename,
						psi : item.psi,
						chisqCnt : item.chisqCnt
					};
					if (item.psi > PSI_BASE) {
						pushItem.className = "bg-soft-danger";
					}
					formatData.push(pushItem);
				});
				appCalendarInit(formatData);
				break;
			default:
				break;
			}
		}

		function appCalendarInit(formatData) {
			var Selectors = {
				ACTIVE : '.active',
				ADD_EVENT_FORM : '#addEventForm',
				ADD_EVENT_MODAL : '#addEventModal',
				CALENDAR : '#calendarDiv',
				CALENDAR_TITLE : '.calendar-title',
				DATA_CALENDAR_VIEW : '[data-fc-view]',
				DATA_EVENT : '[data-event]',
				DATA_VIEW_TITLE : '[data-view-title]',
				EVENT_DETAILS_MODAL : '#eventDetailsModal',
				EVENT_DETAILS_MODAL_CONTENT : '#eventDetailsModal .modal-content',
				EVENT_START_DATE : '#addEventModal [name="startDate"]',
				INPUT_TITLE : '[name="title"]'
			};
			var Events = {
				CLICK : 'click',
				SHOWN_BS_MODAL : 'shown.bs.modal',
				SUBMIT : 'submit'
			};
			var DataKeys = {
				EVENT : 'event',
				FC_VIEW : 'fc-view'
			};
			var ClassNames = {
				ACTIVE : 'active'
			};

			var updateTitle = function updateTitle(title) {
				var titleHtml = title;
				var calDayShort = title.replace("년", "").replace("월","").replace(" ","");
				var todayShort = getToday().substr(0, calDayShort.length);

				if(calDayShort == todayShort) titleHtml = "<div class='this-month'>"+title+"</div>";
				$(".calendar-title").html(titleHtml);
				
				
				if(!currentYear){
					currentYear = calDayShort.substr(0,4);	
				}else if(currentYear != calDayShort.substr(0,4)){
					alert("연도 변경 ");
					currentYear = calDayShort.substr(0,4);
				}
				console.log(currentYear);
			};

			var appCalendar = document.querySelector(Selectors.CALENDAR);
			var addEventForm = document.querySelector(Selectors.ADD_EVENT_FORM);
			if (appCalendar) {
				calendar = renderCalendar(appCalendar, {
					locale : '[[${#locale}]]'.split('_')[0],
					eventStartEditable: false,
					headerToolbar : false,
					dayMaxEvents : 4,
					height : 800,
					stickyHeaderDates : false,
					showNonCurrentDates: false,
					views : {
						week : {
							eventLimit : 3
						}
					},
					eventTimeFormat : {
						hour : 'numeric',
						minute : '2-digit',
						omitZeroMinute : true,
						meridiem : true
					},
					events : formatData,
					eventClick : function eventClick(info) {
						//alert("ProjectName:" + info.event.title +"\n\n 수행일자:" + info.event.extendedProps.regDtim);
						moveHistory(info.event.title);
						
					},
					dateClick : function dateClick(info) {
						fn_showTable(formatData.filter((v)=>(v.start==info.dateStr)));
					},
					dayCellContent(a, max_date, date, cell){
						return a.dayNumberText.replace("일", "");
					}
					
				});
				updateTitle(calendar.currentData.viewTitle);
				document
						.querySelectorAll(Selectors.DATA_EVENT)
						.forEach(
								function(button) {
									button
											.addEventListener(
													Events.CLICK,
													function(e) {
														var el = e.currentTarget;
														var type = utils
																.getData(
																		el,
																		DataKeys.EVENT);

														switch (type) {
														case 'prev':
															calendar.prev();
															updateTitle(calendar.currentData.viewTitle);
															break;

														case 'next':
															calendar.next();
															updateTitle(calendar.currentData.viewTitle);
															break;

														case 'today':
															calendar.today();
															updateTitle(calendar.currentData.viewTitle);
															break;

														default:
															calendar.today();
															updateTitle(calendar.currentData.viewTitle);
															break;
														}
													});
								});
			}
			addEventForm && addEventForm.addEventListener(Events.SUBMIT, function (e) {
			      e.preventDefault();
			      var _e$target = e.target,
			          title = _e$target.title,
			          startDate = _e$target.startDate,
			          endDate = _e$target.endDate,
			          label = _e$target.label,
			          description = _e$target.description,
			          allDay = _e$target.allDay;
			      calendar.addEvent({
			        title: title.value,
			        start: startDate.value,
			        end: endDate.value ? endDate.value : null,
			        allDay: allDay.checked,
			        className: allDay.checked && label.value ? "bg-soft-".concat(label.value) : '',
			        description: description.value
			      });
			      e.target.reset();
			      window.bootstrap.Modal.getInstance(addEventModal).hide();
			    });
			document.querySelectorAll(Selectors.DATA_CALENDAR_VIEW).forEach(function (link) {
			      link.addEventListener(Events.CLICK, function (e) {
			        e.preventDefault();
			        var el = e.currentTarget;
			        var text = el.textContent;
			        el.parentElement.querySelector(Selectors.ACTIVE).classList.remove(ClassNames.ACTIVE);
			        el.classList.add(ClassNames.ACTIVE);
			        document.querySelector(Selectors.DATA_VIEW_TITLE).textContent = text;
			        calendar.changeView(utils.getData(el, DataKeys.FC_VIEW));
			        updateTitle(calendar.currentData.viewTitle);
			      });
			    });

		};
	</script>
</div>
</html>