<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand" th:fragment="headerFragment">
		<form method="post" id="paramForm" name="paramForm" th:action="@{/}">
				<input type="hidden" id="paramData" name="paramData"/>
				<input type="hidden" id="csrfToken" th:value="${_csrf.token}" /> 
		</form>
		<input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}" />
		<button
			class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarVerticalCollapse"
			aria-controls="navbarVerticalCollapse" aria-expanded="false"
			aria-label="Toggle Navigation">
			<span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
		</button>
		<a class="navbar-brand me-1 me-sm-3" th:href="@{/}">
			<div class="d-flex align-items-center">
				<img class="me-2" src="/assets/img/nice/Horizontal type(Korean).png" alt="" width="175px" />				
				<!-- <span class="font-sans-serif">[[#{common.title}]]</span> -->
			</div>
		</a>
		<ul
			class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center font-sans-serif">
			<li>
				<div class="col-12 d-flex justify-content-end align-items-center">
					<span class="px-3 py-3"><span class="text-dark">[[${session.LOGIN_INFO.name}]]</span>[[#{txt.welcome.msg}]]
						</span> <a th:href="@{/logout}">
						<button class="btn btn-falcon-default btn-sm px-3 ms-1"
							type="button">[[#{button.logout}]]</button>
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<!-- icon-indicator 알림 처리--> <a
				class="nav-link notification-indicator notification-indicator-primary px-0"
				id="navbarDropdownNotification" href="#" role="button"
				data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="fas fa-bell" data-fa-transform="shrink-6"
					style="font-size: 33px;"> </span>
			</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-menu-card"
					aria-labelledby="navbarDropdownNotification">
					<div class="card card-notification shadow-none">
						<div class="card-header">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h6 class="card-header-title mb-0">[[#{txt.complete.history}]] <button class="btn p-0 ms-1" type="button"  title="Delete" id="alarmDelete"><span class="text-500 fas fa-trash-alt"></span></button></h6>									
								</div>
							</div>
						</div>
						<div class="scrollbar-overlay" style="max-height: 19rem">
							<div class="list-group list-group-flush fw-normal fs--1" id="alarmList">
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		
	<script type="text/javascript">	
		$(function() {			
			setInterval(fn_Alarm, 60000);
			fn_Alarm();
			fn_AlarmEvent();			
		});
		function fn_AlarmEvent(){
			$("#alarmDelete").off().on('click',function(e){
				e.preventDefault();
				var param = {
						 target : "DELETE",
						 method : "DELETE",
						 url : "/api/jobExctLog/delete",
						 dataType:"text",
						 callbackFunc : "alarmCallback",
						 isLoading: false
					}
		    	ajaxCall(param);
			})
		}
		function fn_Alarm(){
			var param = {
					 target : "LIST",
					 url : "/api/jobExctLog/getList",
					 callbackFunc : "alarmCallback",
					 isLoading: false
				}
	    	ajaxCall(param);
		}
			function alarmCallback(target, data) {				
				switch (target) {
				case "LIST":
					var html ="";
					if(!gf_IsNull(data)){
						$.each(data,function(){							
							html +='<div class="list-group-item">';
							html +='	<a class="notification notification-flush notification-unread"';
							html +='		href="#!">';
							html +='		<div class="notification-avatar"></div>';
							html +='		<div class="notification-body">';
							html +='			<p class="mb-1">';
							html +='				<strong>'+this.enddtim+'</strong>';
							html +='			</p>';
							html +='			<p class="mb-1">';
							html +=					this.comment
							html +='			</p>';
							html +='		</div>';
							html +='	</a>';
							html +='</div>';
						});
						$("#navbarDropdownNotification").addClass('icon-indicator');
					}
					
					$("#alarmList").html(html);
					break;
				case "DELETE":
					$("#navbarDropdownNotification").removeClass('icon-indicator');
					$("#alarmList").empty();
					break;
				default:
					break;
				}
			}
	</script>
	</nav>
	