<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
	<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
		<button
			class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3"
			type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarVerticalCollapse"
			aria-controls="navbarVerticalCollapse" aria-expanded="false"
			aria-label="Toggle Navigation">
			<span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
		</button>
		<a class="navbar-brand me-1 me-sm-3" href="../index.html">
			<div class="d-flex align-items-center">
				<img class="me-2" src="/assets/img/illustrations/falcon.png" alt=""
					width="40"><span class="font-sans-serif">NICE</span>
			</div>
		</a>
		<ul
			class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
			<div class="col-12 d-flex justify-content-end align-items-center">
				<span class="px-3"><span class="px-1">[[${session.LOGIN_INFO.name}]]</span>
					님 환영합니다.</span> <a th:href="@{/logout}"><button
						class="btn btn-falcon-default btn-sm px-3 ms-1" type="button">로그아웃</button></a>
			</div>
		</ul>
	</nav>
</header>