<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modalFragment">
	<div class="modal fade" id="complete-modal" tabindex="-1"
		aria-labelledby="tooltippopoversLabel" aria-hidden="true">
		<div class="modal-dialog mt-6" role="document">
			<div class="modal-content border-0">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
					<button
						class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
						<h4 class="mb-1" id="tooltippopoversLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 ">
						<div class="row">
							<div class="col ">
								<h5 id="complete-modal-text"></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 500px">
			<div class="modal-content position-relative">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
					<button
						class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
						<h4 class="mb-1" id="modalExampleDemoLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 ">
						<div class="row">
							<div class="col ">
								<h5 id="confirm-modal-text"></h5>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-bs-dismiss="modal" id="confirm-cancel">[[#{button.cancel}]]</button>
					<button class="btn btn-primary" type="button" id="confirm-ok">[[#{button.ok}]]</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="session-timeout-modal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 1200px">
			<div class="modal-content position-relative">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
				</div>
				<div class="modal-body p-0">
					<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
						<h4 class="mb-1" id="modalExampleDemoLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 ">
						<div class="row">
							<div class="col ">
								<h5>[[#{session.timeout}]]</h5>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" id="confirm-ok">[[#{button.ok}]]</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="boxplot-modal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 1200px">
			<div class="modal-content position-relative">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
					<button
						class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="rounded-top-lg py-3 ps-4 pe-6">
						<h4 class="mb-1" id="modalExampleDemoLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 bg-light">
						<div class="row">
							<div class="col ">
								<div id="boxplotChart" style="height: 550px;width: 1150px"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		/* alert modal */
		function alertModal(msg){
			$('#complete-modal').modal('toggle'); 
			$("#complete-modal-text").html(msg);
		}
		/* confirm modal */
		function confirmModal(msg, callback){
			$('#confirm-modal').modal('toggle'); 
			$("#confirm-modal-text").html(msg);
			
			$("#confirm-ok",$('#confirm-modal')).off().on('click',function(){					
				$('#confirm-modal').modal('toggle');
				if (_.isFunction(callback)) {
		          callback();
		        }
			})
		}
		/* session time out modal */
		function sessionTimeoutModal(){
			$('#session-timeout-modal').modal('show'); 
			$("#confirm-ok",$('#session-timeout-modal')).off().on('click',function(){	
				location.href = "/logout";
			})
		}
		
		function boxplotModal(param){
			$('#boxplot-modal').modal('toggle'); 
			
			if (boxplotChart != null) {
				boxplotChart.destroy();
			}

			var boxplotChart = document.getElementById('boxplotChart');
			var myChart = echarts.init(boxplotChart);
			var option;
			
			var jsonArray = new Array();
			var data = param.data;
			$.each(data,function(i){
				var jsonObject =  {
			        source: data[i]
			    }
				jsonArray.push(jsonObject);
			})
			
			$.each(data,function(i){
				var jsonObject = 
				{
			        fromDatasetIndex: i,
			        transform: { type: 'boxplot' }
			    }
				jsonArray.push(jsonObject);
			})
						
			var seriesJsonArray = new Array();			
			$.each(data,function(i){
				var jsonObject =  {
				        name: param.name[i],
				        type: 'boxplot',
				        datasetIndex: data.length + i
				    }
				seriesJsonArray.push(jsonObject);
			})
			
						
			option = {
				title : {
					text : param.title,
					show : true
				},
				
			    grid: {
			    	left: '10%',
			        top: '15%',
			        right: '10%',
			        bottom: '15%'
			    },			
			    dataset: jsonArray,
			    
				tooltip : {
					trigger : 'axis',
					padding : [ 7, 10 ],
					backgroundColor : utils.getGrays()['100'],
					borderColor : utils.getGrays()['300'],
					textStyle : {
						color : utils.getColors().dark
					},
					borderWidth : 1,
					transitionDuration : 0,
					position : function position(pos, params, dom, rect, size) {
						return getPosition(pos, params, dom, rect, size);
					}
				},

				toolbox : {
					feature : {
						saveAsImage : {
							title : 'Save As'
						}
					}
				},
				legend : {
					data : param.name,
					left : 'center',
					itemWidth : 10,
					itemHeight : 10,
					borderRadius : 0,
					icon : 'circle',
					inactiveColor : utils.getGrays()['400'],
					textStyle : {
						color : utils.getGrays()['700']
					}
				},
				xAxis : {
					type : 'category',
					boundaryGap : true,
					axisPointer : {
						lineStyle : {
							color : utils.getGrays()['300'],
							type : 'dashed'
						}
					},
					splitLine : {
						show : true
					},
					axisLine : {
						lineStyle : {
							color : utils.rgbaColor('#000', 0.01),
							type : 'dashed'
						}
					},
					axisTick : {
						show : true
					},
					axisLabel : {
						color : utils.getGrays()['400'],
						margin : 15,
						textStyle : {
							fontSize : 10
						}
					}
				},
				yAxis : {
					type : 'value',
					name : param.yAxisNm,
					splitArea: {
			            show: false
			        } ,
					axisPointer : {
						show : false
					},
					splitLine : {
						lineStyle : {
							color : utils.getGrays()['300'],
							type : 'dashed'
						}
					},
					boundaryGap : false,
					axisLabel : {
						show : true,
						color : utils.getGrays()['400'],
						margin : 15,
						textStyle : {
							fontSize : 10
						}
					},
						axisTick : {
						show : false
					},
					 axisLine : {
						lineStyle : {
							color : utils.getGrays()['500'],
							type : 'dashed'
						}
					}  
				},
			/*     dataZoom: [{
			        type: 'inside',
			        start: 0,
			        end: 20
			    }, {
			        show: true,
			        type: 'slider',
			        top: '90%',
			        xAxisIndex: [0],
			        start: 0,
			        end: 20
			    }], */
			    series: seriesJsonArray
			};

			option && myChart.setOption(option);
			
		}
		
	</script>
</div>
</html>