<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modalFragment">
	<div class="modal fade" id="complete-modal" tabindex="-1"
		aria-labelledby="tooltippopoversLabel" aria-hidden="true">
		<div class="modal-dialog mt-6" role="document">
			<div class="modal-content border-0">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
					<button
						class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
						<h4 class="mb-1" id="tooltippopoversLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 ">
						<div class="row">
							<div class="col ">
								<h5 id="complete-modal-text"></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 500px">
			<div class="modal-content position-relative">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
					<button
						class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
						<h4 class="mb-1" id="modalExampleDemoLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 ">
						<div class="row">
							<div class="col ">
								<h5 id="confirm-modal-text"></h5>
							</div>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-bs-dismiss="modal" id="confirm-cancel">[[#{button.cancel}]]</button>
					<button class="btn btn-primary" type="button" id="confirm-ok">[[#{button.ok}]]</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="session-timeout-modal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 500px">
			<div class="modal-content position-relative">
				<div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
				</div>
				<div class="modal-body p-0">
					<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
						<h4 class="mb-1" id="modalExampleDemoLabel">[[#{common.title}]]</h4>
					</div>
					<div class="p-4 ">
						<div class="row">
							<div class="col ">
								<h5>[[#{session.timeout}]]</h5>
							</div>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" id="confirm-ok">[[#{button.ok}]]</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		/* alert modal */
		function alertModal(msg){
			$('#complete-modal').modal('show'); 
			$("#complete-modal-text").html(msg);
		}
		/* confirm modal */
		function confirmModal(msg, callback){
			$('#confirm-modal').modal('show'); 
			$("#confirm-modal-text").html(msg);
			
			$("#confirm-ok",$('#confirm-modal')).off().on('click',function(){					
				$('#confirm-modal').modal('toggle');
				if (_.isFunction(callback)) {
		          callback();
		        }
			})
		}
		/* session time out modal */
		function sessionTimeoutModal(){
			$('#session-timeout-modal').modal('show'); 
			$("#confirm-ok",$('#session-timeout-modal')).off().on('click',function(){	
				location.href = "/logout";
			})
		}
	</script>
</div>
</html>