<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>사용자 관리</title>

</head>
<div layout:fragment="content">
	<div class="card mb-3">
		<div class="card-header">
			<div class="row flex-between-end">
				<div class="col-auto col-lg align-self-center">
					<h2 class="mb-0" data-anchor="data-anchor" id="table-example">
						사용자 관리
					</h2>
				</div>
			</div>
		</div>
		<div class="card-body pt-0">
			<div class="tab-content">
				<div class="tab-pane preview-tab-pane active" role="tabpanel"
					aria-labelledby="tab-dom-28a0c0e7-4d81-45ea-b108-f94c2e55ef9c"
					id="dom-28a0c0e7-4d81-45ea-b108-f94c2e55ef9c">
					<table class="table table-sm table-striped fs--1 mb-0 overflow-hidden" id="table">
					</table>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		var $table = $('#table');
		$(function() {
			initTable();
		});

		function callback(target, data) {
			switch (target) {
			case "SELECT":
				console.log(data);
				$table.bootstrapTable({
					data : data
				});
				break;
			default:
				break;
			}
		}

		function responseHandler(res) {
			$.each(res, function(i) {
				this.index = i + 1;
				delete this.password;
				delete this.regdtim;
				delete this.lastAccess;
			});
			return res;
		}
		function detailFormatter(index, row) {
			var html = []
			$.each(row, function(key, value) {
				html.push('<p><b>' + key + ':</b> ' + value + '</p>')
			})
			return html.join('')
		}

		function initTable() {
			$table.bootstrapTable('destroy').bootstrapTable({
				height: 375,
				pageSize:"10",
				pageList:"[10, 25, 50, all]",
				columns : [ {
					title : '#',
					field : 'index',
					align : 'center',
					valign : 'middle',
					sortable : true
				}, {
					title : 'ID',
					field : 'memberId',
					align : 'center',
					valign : 'middle',
					sortable : true
				}, {
					title : 'Name',
					field : 'name',
					align : 'center',
					valign : 'middle',
					sortable : true
				}, {
					title : 'ROLETYPE',
					field : 'roleType',
					align : 'center',
					valign : 'middle',
					sortable : true
				}, {
					title : 'LASTACCESS',
					field : 'lastAccessDt',
					align : 'center',
					valign : 'middle',
					sortable : true
				}, {
					title : 'REGDTIM',
					field : 'regDt',
					align : 'center',
					valign : 'middle',
					sortable : true
				} ]
			});

			bootstrapTableRefresh($table, '/api/member/getList', '[[${#locale}]]', '[[#{table.data.faile}]]');
		}
	</script>

</div>
</html>