<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>[[#{left.017}]]</title>

</head>
<div layout:fragment="content">
	<div class="card mb-3">
		<div class="bg-holder d-none d-lg-block bg-card"
			style="background-image: url(/assets/img/illustrations/corner-4.png);">
		</div>
		<div class="card-body">
			<div class="row flex-between-center">
				<div class="col-sm-auto mb-2 mb-sm-0">
					<h4 class="mb-0 title-area" data-anchor="data-anchor" id="tooltips">[[#{left.017}]]</h4>
				</div>
				<div class="col-sm-auto">
					<div class="row gx-2 align-items-center">
						<div class="col-auto">
							<select id="projectNameItemDropdown" class="form-select picker"
								data-live-search="true">
								<option value="">[[#{select.project.select}]]</option>
							</select>
						</div>
						<div class="col-auto">
							<select id=fieldNameDropdown class="form-select picker"
								data-live-search="true">
								<option value="">[[#{select.item.select}]]</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-body">
			<div class="tab-pane preview-tab-pane active" role="tabpanel"
				aria-labelledby="tab-dom-28a0c0e7-4d81-45ea-b108-f94c2e55ef9c"
				id="dom-28a0c0e7-4d81-45ea-b108-f94c2e55ef9c">
				<table
					class="table table-sm table-striped fs--1 mb-0 overflow-hidden"
					id="table">
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var $table = $('#table');
		var $projectNameItemDropdown = $("#projectNameItemDropdown");
		var $fieldNameDropdown = $("#fieldNameDropdown");
		var paramData = {};
		$(function() {
			paramData = jsonParse('[[${paramData}]]');
			
			fn_projectNames();
			fn_Table();
			fn_Event();
		});

		function fn_projectNames() {
			var param = {
				target : "PROJECT_NAMES",
				url : "/learning/projectname",
				isLoading : false
			}
			ajaxCall(param);
		}

		function fn_regdtItems(projectName) {
			$table.bootstrapTable('removeAll');
			if (projectName) {			
				 ajaxCall(param = {
					target : "FIELDNAME_ITEMS",
					url : "/learning/datainfo/" + projectName ,
					isLoading : false
				}); 
			} else {
				$fieldNameDropdown.find("option").remove();
				$fieldNameDropdown.append("<option value=''>[[#{select.item.select}]]</option>");											
				
			}
		}

		function fn_Event() {

		}

		function fn_Table() {
			$table.bootstrapTable('destroy').bootstrapTable({
				theadClasses : 'bg-200 text-900',
				height : 720,			
				locale:'[[${#locale}]]',
				pageSize : "20",
				pageList : "[5, 10, 20, 50, all]",
				columns : [ {
					title : '',
					field : 'index',
					halign : 'center',
					align : 'center',
					width: '50',
					valign : 'middle'
				}, {
					title : '[[#{txt.item.code}]]',
					field : 'fieldName',
					align : 'center',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.model.useYn}]]',
					field : 'modelUse',
					align : 'center',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.except.reason}]]',
					field : 'modelUseRsn',
					align : 'center',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.average}]]',
					field : 'mean',
					halign: 'center',
					align : 'right',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.standard.deviation}]]',
					field : 'stddev',
					halign: 'center',
					align : 'right',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.boxplot.bottom}]]',
					field : 'min',
					halign: 'center',
					align : 'right',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.boxplot.q1}]]',
					field : 'lq',
					halign: 'center',
					align : 'right',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.boxplot.median}]]',
					field : 'median',
					halign: 'center',
					align : 'right',
					sortable : true,
					valign : 'middle'
				}, {
					title : '[[#{txt.boxplot.q3}]]',
					field : 'uq',
					sortable : true,
					halign: 'center',
					align : 'right'
				}, {
					title : '[[#{txt.boxplot.top}]]',
					field : 'max',
					halign: 'center',
					align : 'right',
					sortable : true,
					valign : 'middle'
				} ],
				onDblClickRow : function(row, $element, field) {
					
					var data = [];	
					
				 	var boxData = [];
					var boxDataArray = [];	 			 	
				 	boxData.push(row.max);				 	
				 	boxData.push(row.uq);
				 	boxData.push(row.median);
				 	boxData.push(row.lq);
				 	boxData.push(row.min);
				 	boxDataArray.push(boxData)				 	
				 	var dataObj = {}
				 	dataObj.axisData = [row.fieldName];
				 	dataObj.boxData = boxDataArray;
				 	dataObj.outliers = [];
				 	
				 	data.push(dataObj)
				 	
				 	var boxplotParam = {};
					boxplotParam.data = data
					boxplotParam.title = '[[#{left.017}]]'
					boxplotParam.yAxisNm = ""	
					boxplotParam.name = [row.fieldName]					
					boxplotParam.legend = false;				
					multiBoxplotModal(boxplotParam)	
					
					
				},
				onLoadSuccess : function() {
				}
			});
			tableRefresh();
		}

		function tableRefresh() {			
			$table.bootstrapTable('removeAll');
			var projectName = $projectNameItemDropdown.val();
			var fieldName = $fieldNameDropdown.val();
			 if (projectName && fieldName) {
				bootstrapTableRefresh($table, '/learning/datainfo/'+projectName+"/"+fieldName);
			}else if (projectName) {
					bootstrapTableRefresh($table, '/learning/datainfo/'+projectName);
			} else {
				$table.bootstrapTable('removeAll');
			} 
			
		}

		function responseHandler(res) {
			$.each(res, function(i) {
				this.index = '<span class="index-area">'+(i + 1)+'</span>';
			});
			return res;
		}

		function callback(target, data) {

			switch (target) {
			case "PROJECT_NAMES":
				var listName = data;
				var html = "";

				$.each(listName, function(index, data) {
					html += "<option value="+data+">" + data + "</option>";
				});
				$projectNameItemDropdown.append(html);
				$projectNameItemDropdown.off();
				$projectNameItemDropdown.change(function() {						
						tableRefresh();
						fn_regdtItems($(this).val());
				});
				
				$('.picker').select2();
				
				if(!gf_IsNull(paramData)){					
					if(paramValidation(data , paramData.projectName)){
						$projectNameItemDropdown.val(paramData.projectName).trigger('change');
					}else{						
						alertModal("["+paramData.projectName+"] "+ '[[#{web.param.valid}]]');						
					} 
					paramData = {};
				}
				
				break;

			case "FIELDNAME_ITEMS":
				$fieldNameDropdown.find("option").remove();
				var html = "<option value=''>[[#{select.item.select}]]</option>";

				$.each(data, function() {
					html += '<option value="'+this.fieldName+'">' + this.fieldName + '</option>';
				});
				$fieldNameDropdown.append(html);

				$fieldNameDropdown.off();
				$fieldNameDropdown.change(function() {					
					tableRefresh();
				});
				$('.picker').select2();
				break;

			default:
				break;
			}
		}
	</script>

</div>
</html>