<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>[[#{left.016}]]</title>

</head>
<div layout:fragment="content">
	<div class="card mb-3">
		<div class="bg-holder d-none d-lg-block bg-card"
			style="background-image: url(/assets/img/illustrations/corner-4.png);">
		</div>
		<div class="card-header pb-1"></div>
		<div class="card-body pt-0">
			<div class="row flex-between-center">
				<div class="col-sm-auto mb-2 mb-sm-0">
					<h4 class="mb-0 title-area" data-anchor="data-anchor" id="tooltips">[[#{left.016}]]</h4>
				</div>
				<div class="col-sm-auto"></div>
			</div>
		</div>
	</div>
	<div class="row g-3 mb-3">
		<div class="col-lg-12 pe-lg-2">
			<div class="card mb-3">
				<form id="info-form" class="needs-validation" novalidate>
				<div class="card-header">
						<div class="row flex-between-end">
							<div class="col-auto col-lg align-self-center">
								<h5 class="mb-0" data-anchor="data-anchor" id="bar-chart">
									<a class="anchorjs-link " aria-label="Anchor"
										data-anchorjs-icon="#" href="#bar-chart"
										>[[#{txt.fileFormatEdit.title}]]</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="card-body pt-0 bg-200">
						<div class="row gx-2">
							<div class="col-12 mb-3 mt-3">
								<label class="form-label">
									[[#{txt.makeModelYN}]]</label>
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input"
										id="makeModelY" name="makeModelYN" value="Y" checked="checked">
									<label class="custom-control-label font-weight-bold"
										for="makeModelY" id="makeModelYLabel">[[#{txt.makeModelY}]]</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input"
										id="makeModelN" name="makeModelYN" value="N">
									<label class="custom-control-label font-weight-bold"
										for="makeModelN" id="makeModelYLabel">[[#{txt.makeModelN}]]</label>
								</div>
							</div>
							<div class="col-12 mb-3">
								<label class="form-label" for="inputDataFileDropdown"
									th:data-bs-original-title="#{txt.inputDataFile.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top"> 
									[[#{txt.inputDataFile}]]</label> <select class="form-select choice picker directInput " multiple="multiple" size="2" 
									data-options='{"removeItemButton":true,"placeholder":true}'
									id="inputDataFileDropdown" name="inputDataFileDropdown">
									
									<!-- <option value="direct">[[#{select.direct.insert}]]</option> -->
								</select>
							</div>
							<!-- <div class="col-6 mb-3">
								<label class="form-label" for="inputDataFile">
									&nbsp; </label> <input class="form-control" id="inputDataFile"
									name="inputDataFile" type="text"
									th:placeholder="#{txt.inputDataFile.ph}"
									required />
							</div> -->
							<div class="col-6 mb-3">
								<label class="form-label" for="inputLayoutFileDropdown"
									th:data-bs-original-title="#{txt.orgin.file.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top"> [[#{txt.layout.file}]]</label> <select class="form-select picker directInput"
									id="inputLayoutFileDropdown"
									name="inputLayoutFileDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="B">B</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="inputLayoutFile">
									&nbsp; </label> <input class="form-control" id="inputLayoutFile"
									name="inputLayoutFile" type="text"
									th:placeholder="#{txt.orgin.file.ph}"
									required />
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="projectNameDropdown"
									th:data-bs-original-title="#{txt.projectName.ph}"
									data-bs-toggle="tooltip" data-bs-placement="top"> [[#{txt.projectName}]]</label> <select class="form-select picker directInput"
									id="projectNameDropdown" name="projectNameDropdown">
									<option value="direct">[[#{select.direct.insert}]]</option>
									<option value="C">C</option>
								</select>
							</div>
							<div class="col-6 mb-3">
								<label class="form-label" for="projectName"> &nbsp;
								</label> <input class="form-control" id="projectName"
									name="projectName" type="text"
									th:placeholder="#{txt.projectName.ph}"
									required />
							</div>
						</div>

						<div class="row flex-between-end">
							<div class="col-auto ms-auto">
								<button class="btn btn-sm btn-primary" type="submit">[[#{button.excute}]]</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var $infoForm = $("#info-form");
		var $inputDataFilePathDropdown = $("#inputDataFileDropdown");
		var $inputLayoutFilePathDropdown = $("#inputLayoutFileDropdown");
		var $projectNameDropdown = $("#projectNameDropdown");
		var choices = null;
		$(function() {
			fn_Event();
		});
		
		function fn_fileList(dirname, pattern, target) {
			const formData = {
				"dirname" : dirname,
				"pattern" : pattern
			}
			var param = {
				target : target,
				url : "/anomaly/getfiles?dirname="
						+ encodeURIComponent(formData.dirname) + "&pattern="
						+ encodeURIComponent(formData.pattern),
				isLoading : false
			}
			ajaxCall(param);
		}
		
		function fn_makeCsv() {
			var data = $infoForm.serializeObject();
			delete data.inputDataFileDropdown;
			delete data.inputLayoutFileDropdown;
			delete data.projectNameDropdown;
			
			var inputDataFile = "";
			var directText = $(".choices__input.choices__input--cloned").val();
			$.each($("#inputDataFileDropdown").val(), function(idx, data){
				if(idx == 0){
					inputDataFile = data
				}else{
					inputDataFile = inputDataFile + "," + data	
				}
				
			})
			if(directText){
				if(!directText.startsWith(",")){
					directText.substr(1, directText.length)
				}
				inputDataFile += directText;
			}
			data.inputDataFile = inputDataFile;
			var param = {
				method : "PUT",
				target : "EXCUTE",
				url : "/anomaly/makemodel",
				data : data,
				dataType : "text"
			}
			ajaxCall(param);
		}

		function fn_Event() {
			fn_fileList("data", ".*", "DATA_FILE");
			fn_fileList("properties", ".*.properties", "LAYOUT_FILE");
			fn_fileList("model", ".*.adnn", "PROJECT_FILE");
			
			$infoForm.on("submit", function(e) {
				e.preventDefault();
				if(!$("#inputDataFileDropdown").val().length && ! $(".choices__input.choices__input--cloned").val().length){
					alertModal('[[#{txt.inputDataFileConfirm}]]');
					return false;
				}
				
				
				if ($infoForm[0].checkValidity() === true) {
					confirmModal('[[#{web.confirm.excute}]]', function() {
						fn_makeCsv();
					});
				}
			})
		}

		function callback(target, data) {
			switch (target) {
			case "EXCUTE":
				alertModal('[[#{web.success.excute}]]');
				initForm();				
				choices.destroy();
				choices = new Choices('.choice',{
					placeholder: true,
					removeItemButton: true
				});
				break;
			case "LAYOUT_FILE":
				$inputLayoutFilePathDropdown.find("option").remove();

				var listName = data;
				var html = "<option value='direct'>[[#{select.direct.insert}]]</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$inputLayoutFilePathDropdown.append(html);
				setDropDownEvent();
				break;
			case "DATA_FILE":
				$inputDataFilePathDropdown.find("option").remove();

				var listName = data;
				var html = "<option value=''>Select Data..</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$inputDataFilePathDropdown.append(html);
				setDropDownEvent();
				choices = new Choices('.choice',{
					placeholder: true,
					removeItemButton: true
				});
				
				$(".choices__input.choices__input--cloned").css("width","")
				break;
			case "PROJECT_FILE":
				$projectNameDropdown.find("option").remove();

				var listName = data;
				var html = "<option value='direct'>[[#{select.direct.insert}]]</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$projectNameDropdown.append(html);
				setDropDownEvent();
				break;
			default:
				break;
			}
		}
		function setDropDownEvent(){
			$(".directInput").off().change(function(){
				const value = $(this).val();
				const $target = $(this).parent().next().find("input");
				if(value == "direct"){
					$target.val("");
					$target.prop('readonly', false);
				}else{
					$target.val(value);	
					$target.prop('readonly', true);
				}
			});
		}
		function initForm() {
			$infoForm.removeClass('was-validated');
			$infoForm.find('input').prop("readonly", "");
			formReset($infoForm);
		}
	</script>

</div>
</html>