<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>[[#{left.014}]]</title>

</head>
<div layout:fragment="content">

	<div class="card mb-1 mb-lg-0 mb-xl-1 mb-xxl-0 h-100 detail">

		<div class="card-header bg-light">
			<div class="row flex-between-center">
				<div class="col-auto">
					<h6 class="mb-0"></h6>
				</div>
				<div class="col-auto d-flex">
					<div class="topBtnDiv col-6 col-sm-auto ml-auto text-right pl-0">
						<button id="topNewBatchBtn" data-id="batchNew"
							class="btn btn-falcon-primary btn-sm " type="button">
							<span class="far fa-plus-square"></span> <span
								class="d-none d-sm-inline-block ml-1">[[#{button.new.batch}]]</span>
						</button>
						<button id="topNewOnlineBtn" data-id="onlineNew"
							class="btn btn-falcon-default btn-sm" type="button">
							<span class="far fa-plus-square"></span> <span
								class="d-none d-sm-inline-block ml-1">[[#{button.new.online}]]</span>
						</button>
						<button id="topEditBtn" data-id="edit"
							class="btn btn-falcon-default btn-sm" type="button">
							<span class="far fa-edit"></span> <span
								class="d-none d-sm-inline-block ml-1">[[#{button.edit}]]</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<form id="info-form" class="needs-validation" novalidate>
			<div class="card-body ">
				<div class="row gx-2">
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.layoutFile.name}]]</span> <input
								class="form-control" id="projectName" name="projectName"
								type="text" th:placeholder="#{txt.layoutFile.name.ph}" required />
							<select class="form-select picker" id="projectNameDropdown"
								name="projectNameDropdown" style="display: none;">
								<option value="">*.properties</option>
							</select>
						</div>
					</div>
					<div class="col-sm-6 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.headerInfo}]]</span> <input
								class="offOnline form-control" id="header" name="header"
								type="text"
								th:placeholder="#{txt.headerInfo.ph}"
								required />
						</div>
					</div>
					<div class="col-sm-3 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.headerToSkip}]]</span> <input
								class="offOnline form-control" id="headerToSkip"
								name="headerToSkip" type="number"
								th:placeholder="#{txt.headerToSkip.ph}"
								pattern="/^-?\d+\.?\d*$/"
								onKeyPress="if(this.value.length==1) return false;" required />
						</div>
					</div>
					<div class="col-sm-3 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.footerToSkip}]]</span> <input
								class="offOnline form-control" id="footerToSkip"
								name="footerToSkip" type="number"
								th:placeholder="#{txt.footerToSkip.ph}"
								pattern="/^-?\d+\.?\d*$/"
								onKeyPress="if(this.value.length==1) return false;" required />
						</div>
					</div>
					<div class="col-sm-6 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.fixedLayoutYN}]]</span> <select
								class="offOnline form-select" id="fixedLayoutYN"
								name="fixedLayoutYN">
								<option value="Y">[[#{select.fixedLayoutYN.001}]]</option>
								<option value="N">[[#{select.fixedLayoutYN.002}]]</option>
							</select>
						</div>
					</div>
					<div class="col-sm-6 mb-3" style="display: none;">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.delimiter}]]</span> <input
								class="offOnline form-control" id="delimiter" name="delimiter"
								type="text"
								th:placeholder="#{txt.delimiter.ph}"
								required />
						</div>
					</div>
					<div class="col-sm-6 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.columnLength}]]</span> <input
								class="offOnline form-control" id="columnLength"
								name="columnLength" type="text"
								th:placeholder="#{txt.columnLength.ph}"
								required />
						</div>
					</div>
					<div class="col-12">
						<div class="border-dashed-bottom my-3"></div>
					</div>
					<div class="col-sm-4 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.keyColumn}]]</span> <input
								class="form-control" id="keyColumn" name="keyColumn" type="text"
								th:placeholder="#{txt.keyColumn.ph}" />
						</div>
					</div>
					<div class="col-sm-4 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.requiredColumn}]]</span> <input
								class="form-control" id="requiredColumn" name="requiredColumn"
								type="text"
								th:placeholder="#{txt.requiredColumn.ph}" />
						</div>
					</div>
					<div class="col-sm-4 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.ratiograde}]]</span> <input
								class="form-control" id="ratiograde" name="ratiograde"
								type="text"
								th:placeholder="#{txt.ratiograde.ph}" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">[[#{txt.threshold}]]</span> <input
								class="form-control" id="threshold" name="threshold" type="text"
								th:placeholder="#{txt.threshold.ph}" />
						</div>
					</div>
				</div>
			</div>

			<div class="card-footer bg-light">
				<div class="row flex-between-end">
					<div class="col-auto ms-auto">
						<button class="btn btn-sm btn-primary" type="submit">[[#{button.save}]]</button>
					</div>
				</div>
			</div>

		</form>
	</div>

	<script type="text/javascript">
		var $infoForm = $("#info-form");
		var $projectNameDropdown = $("#projectNameDropdown");

		$(function() {
			fn_Event();
		});

		function fn_fileList() {
			const formData = {
				"dirname" : "properties",
				"pattern" : ".*\\.properties"
			}
			var param = {
				target : "FILE_LIST",
				url : "/anomaly/getfiles?dirname="
						+ encodeURIComponent(formData.dirname) + "&pattern="
						+ encodeURIComponent(formData.pattern),
				isLoading : false
			}
			ajaxCall(param);
		}

		function fn_loadProperty(propertyName) {
			var param = {
				target : "LOAD_PROPERTY",
				url : "/anomaly/loadproperty/" + propertyName
			}
			ajaxCall(param);
		}
		function fn_Event() {
			initFormTooltip($infoForm);
			$(".topBtnDiv button").on("click", function() {
				$(".topBtnDiv button").removeClass("btn-falcon-primary");
				$(".topBtnDiv button").addClass("btn-falcon-default");
				$(this).removeClass("btn-falcon-default");
				$(this).addClass("btn-falcon-primary");
				fn_changeForm($(this).data("id"));
			})
			$("#fixedLayoutYN").change(function(data) {
				if ($(this).val() == "Y") {
					$("#delimiter").parent().parent().hide();
					$("#delimiter").removeAttr("required");
					$("#columnLength").parent().parent().show();
					$("#columnLength").attr("required", '');
				} else {
					$("#columnLength").parent().parent().hide();
					$("#columnLength").removeAttr("required");
					$("#delimiter").parent().parent().show();
					$("#delimiter").attr("required", '');
				}
			});
			$infoForm.on("submit", function(e) {
				e.preventDefault();
				if ($infoForm[0].checkValidity() === true) {
					confirmModal('[[#{web.confirm.save}]]', function() {
						var data = $infoForm.serializeObject();
						var param = {
							target : "SAVE",
							dataType : "text",
							data : data
						}
						param.method = "PUT";
						param.url = "/anomaly/makeproperty";

						ajaxCall(param);
					});
				}
			})
		}

		function fn_changeForm(type) {
			formReset($infoForm);
			$infoForm.removeClass('was-validated');

			$("#projectNameDropdown").hide();
			$("#projectName").show();
			$("#projectName").attr('required', '');
			$(".select2").hide();

			switch (type) {
			case "batchNew":
				$.each($("#info-form .offOnline"), function(idx, data) {
					$(this).attr('required', '');
					$(this).parent().parent().removeClass("d-none");
				});
				break;
			case "onlineNew":
				$.each($("#info-form .offOnline"), function(idx, data) {
					$(this).removeAttr('required');
					$(this).parent().parent().addClass("d-none");
				});
				break;
			case "edit":
				fn_fileList();
				$("#projectName").removeAttr('required');
				$("#projectNameDropBox").attr('required', '');
				$.each($("#info-form .offOnline"), function(idx, data) {
					$(this).attr('required', '');
					$(this).parent().parent().removeClass("d-none");
				});
				$("#projectNameDropdown").show();
				$("#projectName").hide();
				$(".select2").show();
				break;
			}
		}
		function callback(target, data) {

			switch (target) {
			case "FILE_LIST":
				$projectNameDropdown.find("option").remove();

				var listName = data;
				var html = "<option value=''>*.property</option>";

				$.each(listName, function(index, data) {
					var simpleData = data.replace(/^.*[\\\/]/, "");
					html += "<option value="+simpleData+">" + simpleData
							+ "</option>";
				});
				$projectNameDropdown.append(html);
				$projectNameDropdown.off();
				$projectNameDropdown.change(function() {
					var propertyName = $(this).val();
					if (propertyName)
						fn_loadProperty(propertyName);
				});

				$('.picker').select2({
					width : '88%'
				});
				break;
			case "LOAD_PROPERTY":
				initForm();
				settingForm(data, $infoForm);
				break;
			case "SAVE":
				alertModal('[[#{web.success.insert}]]');
				initForm();
				break;
			default:
				break;
			}
		}

		function initForm() {
			$infoForm.removeClass('was-validated');
			formReset($infoForm);
		}
	</script>

</div>
</html>