<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>레아이웃 및 이상감지 관리</title>

</head>
<div layout:fragment="content">

	<div class="card mb-1 mb-lg-0 mb-xl-1 mb-xxl-0 h-100 detail">
		<div class="card-header bg-light">
              <div class="row align-items-center justify-content-between">
                <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                  <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">입력정보</h5>
                </div>
                <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                  <button class="btn btn-falcon-default btn-sm" type="button">
	                  <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: 0.4375em 0.625em;"><g transform="translate(224 256)"><g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" transform="translate(-224 -256)"></path></g></g></svg>
	                  <span class="d-none d-sm-inline-block ml-1">신규생성(배치)</span>
                  </button>
                  <button class="btn btn-falcon-default btn-sm" type="button">
	                  <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: 0.4375em 0.625em;"><g transform="translate(224 256)"><g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" transform="translate(-224 -256)"></path></g></g></svg>
	                  <span class="d-none d-sm-inline-block ml-1">신규생성(온라인)</span>
                  </button>
                  <button class="btn btn-falcon-default btn-sm" type="button">
	                  <svg class="svg-inline--fa fa-plus fa-w-14" aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg>
	                  <span class="d-none d-sm-inline-block ml-1">수정</span>
                  </button>
                </div>
              </div>
            </div>
		<form id="info-form" class="needs-validation" novalidate>
			<div class="card-body ">
				<div class="row gx-2">
                      <div class="col-12 mb-3">
                        <label class="form-label" for="event-name">Event Title</label>
                        <input class="form-control" id="event-name" type="text" placeholder="Event Title">
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="start-date">Start Date</label>
                        <input class="form-control datetimepicker flatpickr-input" id="start-date" type="text" placeholder="d/m/y" data-options="{&quot;dateFormat&quot;:&quot;d/m/y&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="start-time">Start Time</label>
                        <input class="form-control datetimepicker flatpickr-input" id="start-time" type="text" placeholder="H:i" data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="end-date">End Date</label>
                        <input class="form-control datetimepicker flatpickr-input" id="end-date" type="text" placeholder="d/m/y" data-options="{&quot;dateFormat&quot;:&quot;d/m/y&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="end-time">End Time</label>
                        <input class="form-control datetimepicker flatpickr-input" id="end-time" type="text" placeholder="H:i" data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                      </div>
                      <div class="col-sm-6">
                        <label class="form-label" for="registration-deadline">Registration Deadline</label>
                        <input class="form-control datetimepicker flatpickr-input" id="registration-deadline" type="text" placeholder="d/m/y" data-options="{&quot;dateFormat&quot;:&quot;d/m/y&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                      </div>
                      <div class="col-sm-6">
                        <label class="form-label" for="time-zone">Timezone
                        </label>
                        <select class="form-select" id="time-zone">
                          <option>GMT-12:00 Etc/GMT-12</option>
                          <option>GMT-11:00 Etc/GMT-11</option>
                          <option>GMT-11:00 Pacific/Midway</option>
                          <option>GMT-10:00 America/Adak</option>
                          <option>GMT-09:00 America/Anchorage</option>
                          <option>GMT-09:00 Pacific/Gambier</option>
                          <option>GMT-08:00 America/Dawson_Creek</option>
                          <option>GMT-08:00 America/Ensenada</option>
                          <option>GMT-08:00 America/Los_Angeles</option>
                          <option>GMT-07:00 America/Chihuahua</option>
                          <option>GMT-07:00 America/Denver</option>
                          <option>GMT-06:00 America/Belize</option>
                          <option>GMT-06:00 America/Cancun</option>
                          <option>GMT-06:00 America/Chicago</option>
                          <option>GMT-06:00 Chile/EasterIsland</option>
                          <option>GMT-05:00 America/Bogota</option>
                          <option>GMT-05:00 America/Havana</option>
                          <option>GMT-05:00 America/New_York</option>
                          <option>GMT-04:30 America/Caracas</option>
                          <option>GMT-04:00 America/Campo_Grande</option>
                          <option>GMT-04:00 America/Glace_Bay</option>
                          <option>GMT-04:00 America/Goose_Bay</option>
                          <option>GMT-04:00 America/Santiago</option>
                          <option>GMT-04:00 America/La_Paz</option>
                          <option>GMT-03:00 America/Argentina/Buenos_Aires</option>
                          <option>GMT-03:00 America/Montevideo</option>
                          <option>GMT-03:00 America/Araguaina</option>
                          <option>GMT-03:00 America/Godthab</option>
                          <option>GMT-03:00 America/Miquelon</option>
                          <option>GMT-03:00 America/Sao_Paulo</option>
                          <option>GMT-03:30 America/St_Johns</option>
                          <option>GMT-02:00 America/Noronha</option>
                          <option>GMT-01:00 Atlantic/Cape_Verde</option>
                          <option>GMT Europe/Belfast</option>
                          <option>GMT Africa/Abidjan</option>
                          <option>GMT Europe/Dublin</option>
                          <option>GMT Europe/Lisbon</option>
                          <option>GMT Europe/London</option>
                          <option>UTC UTC</option>
                          <option>GMT+01:00 Africa/Algiers</option>
                          <option>GMT+01:00 Africa/Windhoek</option>
                          <option>GMT+01:00 Atlantic/Azores</option>
                          <option>GMT+01:00 Atlantic/Stanley</option>
                          <option>GMT+01:00 Europe/Amsterdam</option>
                          <option>GMT+01:00 Europe/Belgrade</option>
                          <option>GMT+01:00 Europe/Brussels</option>
                          <option>GMT+02:00 Africa/Cairo</option>
                          <option>GMT+02:00 Africa/Blantyre</option>
                          <option>GMT+02:00 Asia/Beirut</option>
                          <option>GMT+02:00 Asia/Damascus</option>
                          <option>GMT+02:00 Asia/Gaza</option>
                          <option>GMT+02:00 Asia/Jerusalem</option>
                          <option>GMT+03:00 Africa/Addis_Ababa</option>
                          <option>GMT+03:00 Asia/Riyadh89</option>
                          <option>GMT+03:00 Europe/Minsk</option>
                          <option>GMT+03:30 Asia/Tehran</option>
                          <option>GMT+04:00 Asia/Dubai</option>
                          <option>GMT+04:00 Asia/Yerevan</option>
                          <option>GMT+04:00 Europe/Moscow</option>
                          <option>GMT+04:30 Asia/Kabul</option>
                          <option>GMT+05:00 Asia/Tashkent</option>
                          <option>GMT+05:30 Asia/Kolkata</option>
                          <option>GMT+05:45 Asia/Katmandu</option>
                          <option>GMT+06:00 Asia/Dhaka</option>
                          <option>GMT+06:00 Asia/Yekaterinburg</option>
                          <option>GMT+06:30 Asia/Rangoon</option>
                          <option>GMT+07:00 Asia/Bangkok</option>
                          <option>GMT+07:00 Asia/Novosibirsk</option>
                          <option>GMT+08:00 Etc/GMT+8</option>
                          <option>GMT+08:00 Asia/Hong_Kong</option>
                          <option>GMT+08:00 Asia/Krasnoyarsk</option>
                          <option>GMT+08:00 Australia/Perth</option>
                          <option>GMT+08:45 Australia/Eucla</option>
                          <option>GMT+09:00 Asia/Irkutsk</option>
                          <option>GMT+09:00 Asia/Seoul</option>
                          <option>GMT+09:00 Asia/Tokyo</option>
                          <option>GMT+09:30 Australia/Adelaide</option>
                          <option>GMT+09:30 Australia/Darwin</option>
                          <option>GMT+09:30 Pacific/Marquesas</option>
                          <option>GMT+10:00 Etc/GMT+10</option>
                          <option>GMT+10:00 Australia/Brisbane</option>
                          <option>GMT+10:00 Australia/Hobart</option>
                          <option>GMT+10:00 Asia/Yakutsk</option>
                          <option>GMT+10:30 Australia/Lord_Howe</option>
                          <option>GMT+11:00 Asia/Vladivostok</option>
                          <option>GMT+11:30 Pacific/Norfolk</option>
                          <option>GMT+12:00 Etc/GMT+12</option>
                          <option>GMT+12:00 Asia/Anadyr</option>
                          <option>GMT+12:00 Asia/Magadan</option>
                          <option>GMT+12:00 Pacific/Auckland</option>
                          <option>GMT+12:45 Pacific/Chatham</option>
                          <option>GMT+13:00 Pacific/Tongatapu</option>
                          <option>GMT+14:00 Pacific/Kiritimati</option>
                        </select>
                      </div>
                      <div class="col-12">
                        <div class="border-dashed-bottom my-3"></div>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="event-venue">Venue</label>
                        <input class="form-control" id="event-venue" type="text" placeholder="Venue">
                        <button class="btn btn-link btn-sm btn p-0" type="button">Online Event</button>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="event-address">Address</label>
                        <input class="form-control" id="event-address" type="text" placeholder="Address">
                      </div>
                      <div class="col-sm-4 mb-3">
                        <label class="form-label" for="event-city">City</label>
                        <input class="form-control" id="event-city" type="text" placeholder="City">
                      </div>
                      <div class="col-sm-4 mb-3">
                        <label class="form-label" for="event-state">State</label>
                        <input class="form-control" id="event-state" type="text" placeholder="State">
                      </div>
                      <div class="col-sm-4 mb-3">
                        <label class="form-label" for="event-country">Country</label>
                        <input class="form-control" id="event-country" type="text" placeholder="Country">
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="event-description">Description</label>
                        <textarea class="form-control" id="event-description" rows="6"></textarea>
                      </div>
                    </div>
				<!-- <div class="row gx-2">
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">레이아웃 파일명</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">헤더라인 수</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">트레일러 라인 수</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">데이터파일 종류선택</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">구분자</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">항목길이(헤더) 입력</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">감지 제외항목 입력</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">감지 포함항목 입력</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">항목 분포 변경 감지 대상</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
					<div class="col-sm-12 mb-3">
						<div class="input-group">
							<span class="input-group-text">판단기준</span> <input
								class="form-control" id="" name="" type="text" />
						</div>
					</div>
				</div> -->
			</div>

			<div class="card-footer bg-light">
				<div class="row flex-between-end">
					<div class="col-auto ms-auto">
						<button class="btn btn-sm btn-primary" type="submit">저장</button>
					</div>
				</div>
			</div>

		</form>
	</div>

	<script type="text/javascript">
		var $infoForm = $("#info-form");
		
		var target_memberId = null;
		
		$(function() {
			fn_Table();
			fn_role();
			fn_Event();
		});
		

		function fn_role() {
			var param = {
					 target : "ROLE",
					 url : "/api/role/getList/",
					 isLoading: false
				}
	    	ajaxCall(param);
		}
		

		function fn_Event() {			
			$("#insert").off().on('click', function() {
				$(".detail").removeClass('d-none');
				$(".password").addClass('d-none');
				$("#memberId, #password").prop('readonly', false).attr('required');	
				$infoForm.removeClass('was-validated');	
				$passwordForm.removeClass('was-validated');	
				formReset($infoForm);
				target_memberId= null;
			});
			
			$passwordForm.on('submit', function(e) {
				 e.preventDefault();	
				if ($passwordForm[0].checkValidity() === true) {	
					if(target_memberId){			
				    	
				    	var param = {
								 target : "PASSWORD",
								 method : "PUT",
								 url : "/api/member/password/"+target_memberId+"/"+$("#password-change").val(),
								 dataType : "text"
							}
				    	ajaxCall(param);
					}
			    } 
			});

			$infoForm.on("submit", function(e) {
				 e.preventDefault();	
				if ($infoForm[0].checkValidity() === true) {						
				    var data = $infoForm.serializeObject();
			    	var param = {
							 target : "SAVE",
							 dataType : "text",
							 data: data
						}
			    	
					if(target_memberId){						
				    	param.method = "PUT";
				    	param.url = "/api/member/update/";
					}else{						
				    	param.method = "POST";
				    	param.url = "/api/member/insert/";
					}
					ajaxCall(param);
			    } 
			}) 
		}
		
		
		function fn_Table() {
			$table.bootstrapTable('destroy').bootstrapTable(
					{
						height : 270,
						pageSize : "5",
						pageList : "[5, 10, 20, 50, all]",
						columns : [ {
							title : '#',
							field : 'index',
							align : 'center',
							valign : 'middle',
							sortable : true
						}, {
							title : '아이디',
							field : 'memberId',
							align : 'center',
							valign : 'middle',
							sortable : true
						}, {
							title : '이름',
							field : 'name',
							align : 'center',
							valign : 'middle',
							sortable : true
						}, {
							title : '역할',
							field : 'roleType',
							align : 'center',
							valign : 'middle',
							sortable : true
						}, {
							title : '등록일',
							field : 'regDt',
							align : 'center',
							valign : 'middle',
							sortable : true
						}, {
							title : '최종접속일',
							field : 'lastAccessDt',
							align : 'center',
							valign : 'middle',
							sortable : true
						}, {
							title : '삭제',
							field : 'deleteBtn',
							align : 'center',
							valign : 'middle'
						} ],
						onClickRow : function(row, $element, field) {
							var param = {}
							param = {
									 target : "DETAIL",
									 url : "/api/member/get/"+ row.memberId
								}
								ajaxCall(param);
						}
					});
			tableRefresh();

		}
		
		
		function tableRefresh(){
			bootstrapTableRefresh($table, '/api/member/getList',
					'[[${#locale}]]', '[[#{table.data.faile}]]');
			
		}
		
		
		function responseHandler(res) {
			$.each(res, function(i) {
				this.index = i + 1;
				delete this.password;
				delete this.regdtim;
				delete this.lastAccess;
			});
			return res;
		}
		
		
		function callback(target, data) {
			
			switch (target) {
			case "DETAIL":
				settingForm(data, $infoForm)
				$(".detail, .password").removeClass('d-none');
				$("#memberId, #password").prop('readonly', true).removeAttr('required');
				$infoForm.removeClass('was-validated');	
				$passwordForm.removeClass('was-validated');	
				target_memberId = data.memberId;
				formReset($passwordForm);
				break;
				
			case "ROLE":
				var html = "";
				$.each(data, function() {
					html += "<option value="+this.roleType+">" + this.roleType
							+ "</option>";
				})
				$("#roleType").html(html);
				break;
				
			case "SAVE":
				alertModal(data)
				$infoForm.removeClass('was-validated');	
			    tableRefresh()
				break;
			    
			case "PASSWORD":
				alertModal(data)
				$passwordForm.removeClass('was-validated');	
				break;
				
			case "DELETE":				
				alertModal(data)
				tableRefresh()
				$(".detail, .password").addClass('d-none');
				break;
			    
			default:
				break;
			}
		}
		
		

	</script>

</div>
</html>